.header {
    width: 100vw; 
    position: fixed;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 15px 10px -22px #111
}

.nav {
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    margin: auto; 
}

.nav_logo, .nav_toggle {
    color: rgb(51, 51, 53);
    font-size: 22px;
    font-weight: 500;
}

.nav_logo_icon {
    font-size: 10px;
    margin-right: 5px;
}

.nav_menu_grid {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    list-style: none;
}

.nav_menu_grid a {
    text-decoration: none;
}

.nav_close, .nav_toggle, .nav_menu_icon {
    display: none;
}

.nav_menu_item  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.nav_menu_link {
    display: flex;
    color: rgb(117, 17, 150);
    transition: .3s;
}

.nav_lenguaje{
    display: flex;
    color: rgb(117, 17, 150);
    transition: .3s;
}

.nav_menu_link:hover {
    color: black;
}

.nav_lenguaje:hover {
    color: black;
}


/* MEDIA - QUERY ------------------------------------ */
/* MEDIUM DEVICES ----------------------------------- */
@media screen and (max-width: 840px) {
    .nav_logo_icon {
        display: none;
    }
}

@media screen and (max-width: 801px){
    .header {
        top: initial;
        bottom: 0;
    }
    
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        transition: .3s;
    } 

    .show_menu {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    .nav_menu_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    } 

    .nav_menu_icon {
        font-size: 1.2rem;
    }

    .nav_close {
        position: absolute;
        right: 2rem;
        bottom: .5rem; 
        font-size: 1.5rem;
        cursor: pointer;
        color: black
    }

    .nav_close:hover {
        color:rgb(175, 150, 6);
    }

    .nav_toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }
    .nav_close, .nav_toggle, .nav_menu_icon {
        display: block;
    }
}

/* SMALL DEVICES ------------------------------------------- */
@media screen and (max-width: 350px) {
    .nav_menu {
        padding: 2rem .25rem 4rem;
    }

    .nav_menu_grid {
        column-gap: 0;
    }
}


